@charset "utf-8";

body .ui-state-error, body .ui-state-default.ui-state-error {
    border-left: 3px solid #e13131;
}

.rotulo {
    width: 150px
}

.uppercase {
}

.lowercase {
}

body .ui-messages .ui-messages-error {
    background-color: #d43145;
}

.ui-outputlabel-rfi {
    color: #d43145;
}

.ui-outputlabel.ui-state-error {
    color: #d43145;
    font-weight: 600;
}

.bloco-titulo-pesquisa{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px;
    background: none !important;
    border: 0px !important;
    border-bottom: 1px solid #c7c7c7 !important;
}
.bloco-titulo-pesquisa button {
    min-width: 100px;
    margin-top: 3px;
}

.tabela-coluna-inativo{
    width: 50px; text-align: center;
}