@charset "utf-8";

body .ui-state-error, body .ui-state-default.ui-state-error {
    border-left: 3px solid #e13131;
}

.rotulo {
    width: 150px
}

.uppercase {
}

.lowercase {
}

@media screen and (min-width: 1024px) {
    .layout-main-content {
        max-width: 1024px;
        margin: 0 auto;
    }
}

body .ui-messages .ui-messages-error {
    background-color: #d43145;
}

.ui-outputlabel-rfi {
    color: #d43145;
}

.ui-outputlabel.ui-state-error {
    color: #d43145;
    font-weight: 600;
}

.bloco-titulo-pesquisa {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px;
    background: none !important;
    border: 0px !important;
    border-bottom: 1px solid #c7c7c7 !important;
}

.bloco-titulo-pesquisa button {
    min-width: 100px;
    margin-top: 3px;
}

.tabela-coluna-inativo {
    width: 50px;
    text-align: center;
}

.tabela-coluna-inativo-cor {
    background-color: #bfbfbf !important;
}

body .ui-datatable thead th {
    background-color: #c7c7c7 !important;
    border-color: #aba8a8 !important;
}

body .ui-button.btn-red {
    background-color: #c14545;
}

body .ui-button.btn-green {
    background-color: #3b8a4d;
}

body .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 4px 15px 4px 15px;
}

/*DIALOGOS*/
.ui-confirm-dialog { min-width: 300px; }
body .ui-dialog {border-radius: 10px;}
body .ui-dialog .ui-dialog-titlebar {padding: 15px !important;}

/*PAGINA - LOGIN*/
.login-body .login-panel img { width: 240px !important;}
.login-body .login-panel { border-radius: 15px; }
@media (max-width: 640px) {
    .login-body .login-panel { width: 300px !important; }
}

/*PAGINA - ACESSO NEGADO*/
.exception-panel { border-radius: 15px }
.exception-panel img { width: 240px; height: 50px !important; }
